<%= render 'shared/nav_bar'%>
<header class="header">
  <%= link_to 'Create Yard', new_host_yard_path %>
</header>

<section class="my-yards">
  <h3>My Yard(s)</h3>
  <% if @host_yards.empty? %>
    <p>Add some yards to rent! Turn your green into green!</p>
    <%= button_to 'Create Yard', new_host_yard_path, method: :get %>
  <% else %>
    <% @host_yards.each do |yard| %>
    <section class="yard_info" id="yard-<% yard.id%>">
      <%= link_to yard.name, yard_path(yard.id) %><br>
      <%= yard.description %><br>
      <%= yard.address %><br>
      $<%= yard.price %> per hour <br>
      Purposes:
      <% yard.purposes.each do |purpose| %>
        <%= purpose.titleize %>
      <% end %>
      <br><br>
    <% end %>
    </section>
  <% end %>
</section>
