<%= render 'shared/nav_bar'%>
<header class="header">
  <%= button_to 'Create Yard', new_host_yard_path, method: :get %>
</header>

<section class="my-yards">
  <h3>My Yard(s)</h3>
  <% if @host_yards.empty? %>
  <% else %>
    <% @host_yards.each do |yard| %>
    <section id="yard-<% yard[:id]%>">
      <%= yard[:attributes][:name] %>
      <%= yard[:attributes][:description] %>
      <%= yard[:attributes][:address] %>
      <%= yard[:attributes][:price] %>
      <% yard[:attributes][:purposes][:data].each do |purpose_object| %>
        <% purpose_object[:attributes][:name] %>
      <% end %>
      <%= yard[:attributes][:availability] %>
    <% end %>
    </section>
  <% end %>
</section>
