<%= render 'shared/nav_bar'%>
<header class="header">
  <%= button_to 'Create Yard', new_host_yard_path, method: :get, class: "btn btn-outline-secondary"%>
</header>

<section class="my-yards">
  <h3>My Yard(s)</h3>
  <% if @host_yards.empty? %>
    <p>Add some yards to rent! Turn your green into green!</p>
    <%= button_to 'Create Yard', new_host_yard_path, method: :get %>
  <% else %>
    <div class="container">
      <div class="row">
        <% @host_yards.each do |yard| %>
        <div class= "card dashboard">
          <div class="card-body">
            <div class="card-title name"><%= link_to yard.name, host_yard_path(yard.id) %></div>
            Description: <%= yard.description %><br>
            Address: <%= yard.address %><br>
            Rate: $<%= yard.price %> per hour <br>
            Purposes:
            <ul>
            <% yard.purposes.each do |purpose| %>
              <li><%= purpose.titleize %></li>
            <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>

<section class="my-upcoming-bookings">
  <h3>My Upcoming Bookings(s)</h3>
  <div class="container">
    <div class="row">
      <% @bookings&.each do |booking| %>
      <div id='booking-<%= booking.id %>' class= "card dashboard">
        <div class="card-body">
          <div class="card-title name"><%= link_to "#{booking.name}", booking_path(booking.id) %></div>
          <p>Yard: <%= link_to "#{booking.yard_name}", yard_path(booking.yard_id) %>
          <p>Status: <%= booking.status.titleize %></p>
          <p>Address: <%= booking.address %></p>
          <p>Date: <%= booking.date.strftime('%m/%d/%Y') %></p>
          <p>Time: <%= booking.time.strftime("%I:%M%p") %></p>
          <p>Duration: <%= booking.duration %> hours</p>
          <p>Total Cost: $<%= '%.2f' % booking.total_cost %></p>
          <% if booking.status == 'pending' %>
          <div>
            <%= button_to("Approve", "/bookings/#{booking.id}", method: :patch, params: {status: :approved}, class: "btn btn-outline-secondary") %>
            <%= button_to("Reject", "/bookings/#{booking.id}", method: :patch, params: {status: :rejected}, class: "btn btn-outline-secondary") %>
          </div>
          <% end %>
          <% if ((Time.parse(booking.time.to_s) - Time.parse(DateTime.now.to_s))/3600) > 48 %>
          <%= button_to 'Cancel Booking', "/bookings/#{booking.id}", method: :delete , class: "btn btn-outline-secondary"%>
          <% end  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
