<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_api_key']%>&callback=initMap&libraries=&v=weekly"
async
></script>

<div id="map" style="width: 1000px; height: 500px; margin: auto;"></div>
<script type="text/javascript">
  function initMap()
  {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11
    });

    var marker, i;
    var infowindow = new google.maps.InfoWindow();

    <% @yards.each do |yard| %>
      marker_<%= yard.id %> = new google.maps.Marker({
        position: { lat: <%=yard.coords.lat%>, lng: <%=yard.coords.lng%> },
        map: map
      });

      map.setCenter(marker_<%= yard.id %>.getPosition());

      google.maps.event.addListener(marker_<%= yard.id %>, "click", () => {
        window.location.href = "https://www.google.com/maps/?q=<%=yard.address%>";
      });
    <%end%>
  }
</script>
<% if @yards.empty? %>
  <%= "No yards match your specific parameters" %>
<%else%>
<div class="container">
  <div class="row">
    <% @yards.each do |yard| %>
    <div class= "card dashboard">
      <div class="card-body">
        <div class="card-title name"><%= link_to yard.name, host_yard_path(yard.id) %></div>
        Description: <%= yard.description %><br>
        Address: <%= link_to yard.address, "https://www.google.com/maps/?q=#{yard.address}"%><br>
        Rate: $<%= yard.price %> per hour <br>
        Purposes:
        <ul>
        <% yard.purposes.each do |purpose| %>
          <li><%= purpose.titleize %></li>
        <% end %>
        </ul>
        <p><% if !yard.photo_url_1.blank? %>
           <%= image_tag(yard.photo_url_1, size: '250')  %>
        <% else %>
          No image
        <% end %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%end %>
