<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_api_key']%>&callback=initMap&libraries=&v=weekly"
async
></script>
<div class="container">
  <h4 margin>Search for more dream yards:</h4>
  <%= render partial: 'shared/search_form',
      locals: {purposes: @purposes, url: search_yards_path} %>
</div>

<div id="map" style="width: 1000px; height: 500px; margin: auto;"></div>
<script type="text/javascript">
  function initMap()
  {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11
    });

    var marker, i;
    var infowindow = new google.maps.InfoWindow();

    <% @yards.each do |yard| %>
      marker_<%= yard.id %> = new google.maps.Marker({
        position: { lat: <%=yard.coords.lat%>, lng: <%=yard.coords.lng%> },
        map: map
      });

      map.setCenter(marker_<%= yard.id %>.getPosition());

      google.maps.event.addListener(marker_<%= yard.id %>, "click", () => {
        window.location.href = "https://www.google.com/maps/?q=<%=yard.address%>";
      });
    <%end%>
  }
</script>
<% if @yards.empty? %>
  <%= "No yards match your specific parameters" %>
<%else%>
<%= render partial: 'shared/yards_cards', locals: {
        url_string: "yards/",
        yards: @yards
}%>
<%end %>
