<h1>Update <%= @yard.name %></h1>

<%= form_with url: host_yard_path(@yard.id), method: 'patch', local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, value: @yard.name, required: true  %><br>
    <%= form.label :description %>
    <%= form.text_area :description, value:  @yard.description, required: true, size: "70x5" %><br>
    <%= form.label 'Availability Information' %>
    <%= form.text_field :availability, value: @yard.availability, required: true %><br>
    <%= form.label 'Payment Preferences' %>
    <%= form.text_field :payment, value: @yard.payment, required: true %><br>
    <%= form.label 'Hourly Price' %>
    <%= form.text_field :price , value: @yard.price, required: true %><br>
    <%= form.label 'Street Address' %>
    <%= form.text_field :street_address, value: @yard.street_address, required: true %><br>
    <%= form.label :city %>
    <%= form.text_field :city, value: @yard.city, required: true %><br>
    <%= form.label :state %>
    <%= form.text_field :state, value: @yard.state, required: true %><br>
    <%= form.label 'Zipcode' %>
    <%= form.text_field :zipcode, value: @yard.zipcode, required: true %><br>
    <%= form.label 'Photo 1' %>
    <%= form.text_field :photo_url_1, value: @yard.photo_url_1 %><br>
    <%= form.label 'Photo 2' %>
    <%= form.text_field :photo_url_2, value: @yard.photo_url_2 %><br>
    <%= form.label 'Photo 3' %>
    <%= form.text_field :photo_url_3, value: @yard.photo_url_3 %><br>
    <p>Select all purposes you will allow others to rent your yard for</p>
    <%= form.collection_check_boxes(:purposes, @purposes, :id, :name, include_hidden: false) do |purpose| %>
      <%= purpose.check_box %>
      <%= purpose.label %>
    <% end %>
    <%= form.submit 'Update Yard' %>
<% end %>
