<div class="container-fluid">
<% if yard.class == OpenStruct %>
  <header class="header">
    <h2><%= yard.name %></h2>
  </header>
  <section class="yard-details">
    <p>Address: <%= link_to yard.address, "https://www.google.com/maps/?q=#{yard.address}"%></p>
    <p>Description: <%= yard.description %></p>
    <p>Availability: <%= yard.availability %></p>
    <p>Price per Hour: <%= number_to_currency(yard.price) %></p>
    <p>Payment Information: <%= yard.payment %></p>
    <p>Purposes:</p>
    <ul>
    <% yard.purposes.each do |purpose| %>
      <li><%= purpose.titleize %></li>
    <% end %>
    </ul>
  </section>

  <section class="yard-images">
    <% if !yard.photo_url_1.blank? %>
      <%= image_tag(yard.photo_url_1, size: '500')  %>
    <% end %>
    <% if !yard.photo_url_2.blank? %>
      <%= image_tag(yard.photo_url_2, size: '500')  %>
    <% end %>
    <% if !yard.photo_url_3.blank? %>
      <%= image_tag(yard.photo_url_3, size: '500')  %>
    <% end %>
  </section>
  <section>
    <%= button_to "#{button_text}", url, method: method, class: "btn btn-light" %>
  </section>
<% end %>
</div>
