<%= render 'shared/nav_bar'%>
<section class="upcoming-bookings">
  <h3>Upcoming Bookings:</h3>
    <div class="container">
      <div class="row">
        <% @renter_yards_approved.each do |yard| %>
          <% cache(yard) do %>
        <div class= "card dashboard">
          <div class="card-body">
            <div class="card-title name"><%= link_to "#{yard.name}", yard_path(yard.yard_id) %></div>
            <p>Address: <%= yard.address %></p>
            <p>Date: <%= yard.date.strftime('%m/%d/%Y') %></p>
            <p>Duration: <%= yard.duration %> hours</p>
            <p>Total Cost: $<%= '%.2f' % yard.total_cost %></p>
            <p><% if !yard.img.blank? %>
               <%= image_tag(yard.img, size: '250')  %>
            <% else %>
              No image
            <% end %></p>
          </div>
        </div>
          <%end %>
        <% end %>
      </div>
    </div>
</section>

<section class="pending-bookings">
  <h3>Pending Bookings:</h3>
    <div class="container">
      <div class="row">
        <% @renter_yards_pending.each do |yard| %>
          <% cache(yard) do %>
        <div class= "card dashboard">
          <div class="card-body">
            <div class="card-title name"><%= link_to "#{yard.name}", yard_path(yard.yard_id) %></div>
            <p>Address: <%= yard.address %></p>
            <p>Date: <%= yard.date.strftime('%m/%d/%Y') %></p>
            <p>Duration: <%= yard.duration %> hours</p>
            <p>Total Cost: $<%= '%.2f' % yard.total_cost %></p>
            <p><% if !yard.img.blank? %>
               <%= image_tag(yard.img, size: '250')  %>
            <% else %>
              No image
            <% end %></p>
          </div>
        </div>
          <%end %>
        <% end %>
      </div>
    </div>
</section>

<%= button_to 'Find your next yard', search_index_path, method: :get %>
