<%= render 'shared/nav_bar'%>
<header class="header">
<%= button_to 'Find your next yard', search_index_path, method: :get, class: "btn btn-secondary" %>
</header>

<section class="upcoming-bookings">
  <h3>Upcoming Bookings:</h3>
    <div class="container">
      <div class="row">
        <% @renter_bookings_approved.each do |booking| %>
        <div class= "card dashboard">
          <div id='booking-<%= booking.id %>'  class="card-body">
            <div class="card-title name"><%= link_to "#{booking.name}", booking_path(booking.id) %></div>
            <p>Yard: <%= link_to "#{booking.yard_name}", yard_path(booking.yard_id) %>
            <p>Address: <%= booking.address %></p>
            <p>Date: <%= booking.date.strftime('%m/%d/%Y') %></p>
            <p>Time: <%= booking.time.strftime("%I:%M%p") %></p>
            <p>Duration: <%= booking.duration %> hours</p>
            <p>Total Cost: $<%= '%.2f' % booking.total_cost %></p>
            <p><% if !booking.img.blank? %>
               <%= image_tag(booking.img, size: '250')  %>
            <% else %>
              No image
            <% end %></p>
            <% if ((Time.parse(booking.time.to_s) - Time.parse(DateTime.now.to_s))/3600) > 48 %>
              <%= button_to 'Cancel Booking', "/bookings/#{booking.id}", method: :delete , class: "btn btn-light"%>
            <% end  %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</section>

<section class="pending-bookings">
  <h3>Pending Bookings:</h3>
    <div class="container">
      <div class="row">
        <% @renter_bookings_pending.each do |booking| %>
        <div class= "card dashboard">
          <div id='booking-<%= booking.id %>' class="card-body">
            <div class="card-title name"><%= link_to "#{booking.name}", booking_path(booking.id) %></div>
            <p>Yard: <%= link_to "#{booking.yard_name}", yard_path(booking.yard_id) %>
            <p>Address: <%= booking.address %></p>
            <p>Date: <%= booking.date.strftime('%m/%d/%Y') %></p>
            <p>Time: <%= booking.time.strftime("%I:%M%p") %></p>
            <p>Duration: <%= booking.duration %> hours</p>
            <p>Total Cost: $<%= '%.2f' % booking.total_cost %></p>
            <p><% if !booking.img.blank? %>
               <%= image_tag(booking.img, size: '250')  %>
            <% else %>
              No image
            <% end %></p>
            <% if ((Time.parse(booking.time.to_s) - Time.parse(DateTime.now.to_s))/3600) > 48 %>
              <%= button_to 'Cancel Booking', "/bookings/#{booking.id}", method: :delete , class: "btn btn-light"%>
            <% end  %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</section>
